[class*="__container"] {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    position: relative;
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper > main {
    flex-grow: 1;
}

body {
    font-family: "Lato", sans-serif;
    color: #424551;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 100;
    background-color: #ffffff;
}

.header__container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 60px;
    align-items: center;
}

.menu__list {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 10px 40px;
    justify-items: start;
    justify-content: start;
}

.menu__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    color: #424551;
    transition: color 0.3s ease;
}

.menu__link:hover {
    color: #ff3f3a;
}

.actions-header {
    display: grid;
    grid-template-columns: 207px auto;
    gap: 36px;
    align-items: center;
}

.actions-header__auth {
    background-image: url("../images/icons/user.svg");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 25px;
    line-height: 1.25;
    font-weight: 700;
}

.hero {
    position: relative;
    padding: 200px 0 80px;
    background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
}

.hero__inner {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 190px;
    align-items: center;
}

.hero__link {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: #1e212c;
    padding-left: 68px;
}

.hero__link:not(:last-child) {
    margin-bottom: 35px;
}

.hero__link::after {
    position: absolute;
    content: "";
    left: 0;
    top: -15px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.12;
    background-color: #ff3f3a;
    transform: scale(1.6);
    animation: play-circle 1.5s infinite ease;
}

@keyframes play-circle {
    0% {
        transform: scale(1.6);
    }
    100% {
        opacity: 0;
        transform: scale(3);
    }
}

.hero__link::before {
    position: absolute;
    content: "";
    left: 0;
    background: #ff3f3a url("../images/icons/play.svg") center no-repeat;
    width: 52px;
    height: 52px;
    border-radius: 50%;
}

.hero__title {
    font-weight: 900;
    font-size: 63px;
    line-height: 1.3;
    letter-spacing: 1px;
    color: #1e212c;
    max-width: 496px;
}

.hero__title:not(:last-child) {
    margin-bottom: 63px;
}

.hero__buttons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    gap: 0 24px;
}

.hero__img {
    max-width: 107.8%;
    transform: translate(9.8%, 0);
}

.statistics-hero__list {
    display: grid;
    grid-template-columns: repeat(7, auto);
    align-items: center;
    gap: 66px;
}

.statistics-hero__item {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 12px;
    align-items: center;
}

.statistics-hero__velue {
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
    color: #1e212c;
}

.statistics-hero__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #1e212c;
}

.statistics-hero__decor {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ff3f3a;
}

.hero-decor__item {
    position: absolute;
}

.hero-decor__item--1 {
    background: url("../images/main/decor/icon-1.svg") 0 0 no-repeat;
    width: 96px;
    height: 96px;
    top: 12%;
    left: 4.2%;
}

.hero-decor__item--2 {
    background: url("../images/main/decor/icon-2.svg") 0 0 no-repeat;
    width: 284px;
    height: 284px;
    bottom: -9.2%;
    left: -5.5%;
}

.hero-decor__item--3 {
    background: url("../images/main/decor/icon-4.svg") 0 0 no-repeat;
    width: 88px;
    height: 47px;
    top: 43%;
    left: 38%;
}

.hero-decor__item--4 {
    background: url("../images/main/decor/icon-3.svg") 0 0 no-repeat;
    width: 61px;
    height: 61px;
    bottom: 24%;
    left: 35%;
}

.hero-decor__item--5 {
    background: url("../images/main/decor/icon-1.svg") 0 0 no-repeat;
    width: 110px;
    height: 110px;
    top: -1.5%;
    right: 4%;
    transform: rotate(135deg);
}

.hero-decor__item--6 {
    background: url("../images/main/decor/icon-6.svg") 0 0 no-repeat;
    width: 187px;
    height: 137px;
    bottom: 18%;
    right: -1.5%;
}

.about {
    position: relative;
    padding: 180px 0;
}

.about__container {
    display: grid;
    grid-template-columns: 56% 1fr;
}

.about__content {
    padding-left: 152px;
}

.about__image img {
    max-width: 100%;
}

.about__pretitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: #1e212c;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.about__title {
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
    color: #1e212c;
}

.about__title:not(:last-child) {
    margin-bottom: 48px;
}

.about__list {
    margin-bottom: 48px;
}

.about__item {
    position: relative;
    padding-left: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #424551;
}

.about__item::before {
    position: absolute;
    content: "";
    left: 0;
    top: 5px;
    width: 16px;
    height: 16px;
    background-image: url("../images/icons/check.svg");
}

.about__item:not(:last-child) {
    margin-bottom: 12px;
}

.decor__item {
    position: absolute;
    width: 100%;
    height: 100%;
}

.decor__item--1 {
    position: absolute;
    content: "";
    width: 217px;
    height: 225px;
    top: 28%;
    left: -8%;
    z-index: -1;
    background: url("../images/about/about-icon01.svg") 0 0 no-repeat;
}

.decor__item--2 {
    position: absolute;
    content: "";
    width: 287px;
    height: 287px;
    top: 50%;
    right: -10%;
    z-index: -1;
    background: url("../images/about/about-icon02.svg") 0 0 no-repeat;
}

.courses {
    padding: 12px 0 180px;
}

.top-courses {
    display: grid;
    grid-template-columns: auto 205px;
    align-items: end;
}

.top-courses:not(:last-child) {
    margin-bottom: 60px;
}

.courses__pretitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.courses__pretitle:not(:last-child) {
    margin-bottom: 8px;
}

.courses__title {
    margin-right: 20px;
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
    color: #1e212c;
}

.courses-card__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.courses-card__item {
    display: grid;
    grid-template-columns: 214px auto;
    gap: 32px;
    border: 1px solid #e5e8ed;
    border-radius: 4px;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1),
        0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}

.courses-card__image {
    position: relative;
    padding-bottom: 214px;
    min-width: 214px;
}

.courses-card__image img {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 4px 0px 0px 4px;
    position: absolute;
    object-fit: cover;
}

.courses-card__content {
    padding: 32px 32px 32px 0;
    display: grid;
    align-content: start;
    grid-template-rows: repeat(3, auto);
    gap: 20px;
}

.courses-card__badge {
    display: grid;
    justify-self: start;
    padding: 1px 8px;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 4px;
}

.courses-card__badge--green {
    background-color: #03cea4;
}

.courses-card__badge--orange {
    background-color: #f89828;
}

.courses-card__badge--blue {
    background-color: #5a87fc;
}

.courses-card__badge--pink {
    background-color: #f52f6e;
}

.courses-card__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: #1e212c;
}

.courses-card__info {
    display: grid;
    grid-template-columns: 42px auto;
    gap: 16px;
}

.courses-card__velue {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    color: #ff4242;
}

.courses-card__speaker {
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #787a80;
}

.courses-card__speaker::before {
    position: absolute;
    content: "";
    left: -8px;
    top: 5px;
    height: 16px;
    width: 1px;
    background-color: #787a80;
}

/* =================================================== */

@media (max-width: 1260px) {
    .about__container {
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
    }

    .about__content {
        padding-left: 0;
    }
}
@media (max-width: 1110px) {
    .header__container {
        gap: 40px;
    }

    .about {
        padding: 100px 0;
    }
}

@media (max-width: 1090px) {
    .menu__list {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .statistics-hero__list {
        gap: 15px;
    }

    .about__container {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 30px;
    }

    .about__title:not(:last-child) {
        margin-bottom: 30px;
    }

    .about__list {
        margin-bottom: 20px;
    }

    .courses-card__info {
        grid-template-columns: 1fr;
    }

    .courses-card__speaker::before {
        display: none;
    }
}

@media (max-width: 960px) {
    .hero {
        padding: 160px 0 70px;
    }

    .hero__inner {
        grid-template: repeat(2, auto) / 1fr;
        row-gap: 20px;
        justify-items: center;
        text-align: center;
        margin-bottom: 30px;
    }

    .hero__img {
        max-width: 100%;
        transform: none;
    }

    .hero__content {
        text-align: center;
    }

    .hero__title {
        max-width: 100%;
        font-size: 50px;
    }

    .hero__title:not(:last-child) {
        margin-bottom: 25px;
    }

    .hero__buttons {
        justify-content: center;
    }

    .hero__link:not(:last-child) {
        margin-bottom: 15px;
    }

    .hero-decor__list {
        display: none;
    }

    .about {
        padding: 60px 0;
    }

    .about__container {
        gap: 30px;
    }

    .about__title {
        font-size: 40px;
    }

    .about__title:not(:last-child) {
        margin-bottom: 20px;
    }

    .courses-card__list {
        gap: 15px;
    }

    .courses-card__item {
        gap: 20px;
    }

    .courses-card__content {
        padding-right: 10px;
    }
}

@media (max-width: 880px) {
    .courses-card__list {
        grid-template-columns: none;
    }
}

@media (max-width: 840px) {
    .header__container {
        grid-template: repeat(3, auto) / 1fr;
        gap: 20px;
        justify-items: center;
    }

    .menu__list {
        grid-template-columns: repeat(5, auto);
        gap: 30px;
    }

    .hero {
        padding: 235px 0 30px;
    }

    .hero__title:not(:last-child) {
        margin-bottom: 15px;
    }

    .hero__img {
        max-width: 70%;
    }

    .statistics-hero__velue {
        font-size: 35px;
    }

    .statistics-hero__text {
        font-size: 14px;
    }
}

@media (max-width: 760px) {
    .statistics-hero__list {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 10px;
    }

    .statistics-hero__decor {
        display: none;
    }

    .about__title {
        font-size: 30px;
    }

    .top-courses:not(:last-child) {
        margin-bottom: 30px;
    }

    .courses__title {
        font-size: 30px;
    }
}

@media (max-width: 530px) {
    .top-courses {
        grid-template-columns: none;
    }

    .top-courses:not(:last-child) {
        margin-bottom: 20px;
    }

    .courses__pretitle:not(:last-child) {
        margin-bottom: 0;
    }

    .courses__title {
        margin: 0 0 15px 0;
    }

    .courses-card__info {
        gap: 5px;
    }

}

@media (max-width: 460px) {
    .hero__buttons {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .about {
        padding: 20px 0;
    }

    .about__item:not(:last-child) {
        margin-bottom: 5px;
    }

    .courses__title {
        font-size: 26px;
    }
}

@media (max-width: 420px) {
    .menu__list {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px 15px;
    }

    .header__actions {
        grid-template-columns: 1fr;
        gap: 15px;
        justify-items: center;
    }

    .hero__inner {
        padding-top: 55px;
    }

    .hero__title {
        font-size: 40px;
    }

    .statistics-hero__list {
        grid-template: repeat(4, auto) / 1fr;
    }

    .statistics-hero__velue {
        font-size: 25px;
    }


    .courses-card__item {
        grid-template-columns: none;
        gap: 10px;
    }

    .courses-card__content {
        justify-self: center;
        padding: 10px 20px;
        gap: 15px;
    }

    .courses-card__image img {
        object-fit: contain;
    }
}
